@import "colors.module.css";

/* Variables */

@font-face {
   font-family: "appFont";
   src: url(/fonts/TerminalDosis-Regular.ttf);
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: "appFont";
   src: url(/fonts/TerminalDosis-SemiBold.ttf);
   font-weight: 600;
   font-style: normal;
}

@font-face {
   font-family: "appFont";
   src: url(/fonts/TerminalDosis-Bold.ttf);
   font-weight: 700;
   font-style: normal;
}

@font-face {
   font-family: "appFont";
   src: url(/fonts/TerminalDosis-ExtraBold.ttf);
   font-weight: 900;
   font-style: normal;
}

html {
   overflow-y: scroll;
   font-family: "appFont";
   color: var(--text);
   --background: #fee6e6;
   --contentbox: #fff3f3;
   --lightpink: hsl(341, 81%, 84%);
   --heartslogo: hsl(341, 81%, 84%);
   --sparkle: hsl(341, 81%, 84%);
   --hoverpink: hsl(342, 36%, 64%);
   --darkpink: hsl(336, 98%, 80%);
   --tan: hsl(30, 62%, 63%);
   --black: hsl(0, 0%, 18%);
   --darkbrown: hsl(12, 6%, 33%);
   --header: hsl(12, 6%, 33%);
   --buttontext: hsl(12, 6%, 33%);
   --rulesbuttontext: hsl(12, 6%, 33%);
   --rulesbuttonselected: hsl(342, 36%, 64%);
   --text: hsl(12, 6%, 33%);
   --texthighlight: hsl(12, 6%, 33%);
   --white: hsl(0, 0%, 100%);
   --mediumpink: hsl(350, 100%, 94%);
   --buttontextdisabled: hsla(0, 0%, 6%, 0.3);
   --buttonshine: hsla(334, 100%, 96%, 0.6);
   --buttonshinehover: hsla(332, 45%, 76%, 0.6);
   --buttonshinedisabled: hsla(334, 100%, 96%, 0.251);
   --buttonboxshadow: hsla(342, 36%, 64%, 0.4);
   --buttonboxshadowhover: hsla(342, 22%, 44%, 0.5);
   --buttonboxshadowdisabled: hsla(342, 22%, 44%, 0.1);
   --selectionbgcolor: hsla(342, 36%, 64%, 0.6);
   --link: hsl(342, 36%, 64%);
   --linkbox: hsla(340, 82%, 59%, 0.2);
   --transparent: hsla(0, 0%, 0%, 0);
   --inputbox: hsl(0, 0%, 100%);
   --inputboxborder: hsl(342, 60%, 84%);
   --radiobutton: hsl(342, 36%, 64%);
   --warningicon: hsl(341, 81%, 84%);
}

[data-theme="dark"] {
   --background: hsl(231, 13%, 11%);
   --contentbox: hsl(232, 15%, 19%);
   --header: hsl(341, 80%, 84%);
   --lightpink: hsl(342, 36%, 64%);
   --heartslogo: hsl(231, 16%, 29%);
   --sparkle: hsl(0, 0%, 100%);
   --buttontext: hsl(231, 13%, 11%);
   --text: hsl(341, 81%, 84%);
   --texthighlight: hsl(336, 21%, 25%);
   --tan: hsl(335, 19%, 45%);
   --mediumpink: hsl(240, 13%, 14.5%);
   --hoverpink: hsl(335, 23%, 35%);
   --rulesbuttontext: hsl(233, 15%, 48%);
   --rulesbuttonselected: hsl(341, 81%, 84%);
   --buttonshine: hsla(332, 50%, 87%, 0.6);
   --buttonshinehover: hsla(332, 30%, 60%, 0.6);
   --buttonshinedisabled: hsla(332, 45%, 80%, 0.3);
   --buttonboxshadow: hsla(342, 30%, 30%, 0.5);
   --buttonboxshadowhover: hsla(344, 25%, 18%, 0.5);
   --buttonboxshadowdisabled: hsla(342, 22%, 44%, 0.2);
   --selectionbgcolor: hsla(341, 81%, 84%, 0.6);
   --link: hsl(0, 60%, 90%);
   --linkbox: hsla(342, 36%, 64%, 0.5);
   --inputbox: hsl(231, 16%, 29%);
   --inputboxborder: hsl(231, 16%, 29%);
   --radiobutton: hsl(212, 60%, 80%);
   --warningicon: hsl(341, 81%, 84%);
}

body {
   font-family: "appFont";
   background-color: var(--background);
   font-size: 16px;
   letter-spacing: 1.5px;
}

::selection {
   background-color: var(--selectionbgcolor);
   color: var(--texthighlight);
}

::placeholder {
   color: var(--text);
   opacity: 0.5;
}

/* Scrollbar CSS */
/* Firefox */
* {
   scrollbar-width: auto;
   scrollbar-color: var(--heartslogo) var(--background);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
   width: 14px;
}

*::-webkit-scrollbar-track {
   background: var(--background);
}

*::-webkit-scrollbar-thumb {
   background-color: var(--heartslogo);
   border-radius: 10px;
   border: 3px solid var(--background);
}

.link {
   font-family: "appFont";
   position: relative;
   overflow: hidden;
   color: var(--link);
   font-weight: 700;
   text-decoration: none;
   z-index: 1;
   cursor: pointer;
}

.link::after {
   content: "";
   background: var(--linkbox);
   position: absolute;
   left: 8px;
   bottom: -3px;
   border-radius: 5px;
   width: calc(100% - 6px);
   height: calc(100% - 8px);
   z-index: -1;
   transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
   pointer-events: none;
}

.link:hover:after {
   left: 0;
   bottom: -2px;
   width: 100%;
   height: 100%;
}

.text {
   font-family: "appFont";
}

.navhearts {
   font-family: "appFont";
   color: var(--header);
   letter-spacing: 5pt;
   font-weight: 700;
   text-decoration: none;
   user-select: none;
}

#nav-home:hover .navhearts {
   color: var(--hoverpink);
}

.navtext {
   font-family: "appFont";
   color: var(--header);
   user-select: none;
}

#nav-home:hover .navtext {
   color: var(--hoverpink);
}

input {
   color: var(--text);
   font-family: "appFont";
   background-color: var(--inputbox);
   border-radius: 3px;
   border: 1px solid var(--inputboxborder);
   font-size: 16px;
   letter-spacing: 1.5px;
   padding-left: 6px;
   padding-right: 6px;
}

input:focus {
   outline: none;
}

.radio {
   accent-color: var(--radiobutton);
}

.icon {
   color: var(--lightpink);
   width: 18px;
   height: 18px;
}

#nav-home:hover .icon {
   color: var(--hoverpink);
}

.bold {
   display: inline;
   font-family: "appFont";
   font-size: 16px;
   margin: 0px;
   font-weight: 700;
   color: var(--tan);
}

h1 {
   font-family: "appFont";
   margin-right: -0.2em;
   text-align: center;
   color: var(--header);
   font-size: 50pt;
   letter-spacing: 15pt;
   font-weight: 700;
   user-select: none;
}

h2 {
   font-family: "appFont";
   font-size: 24px;
   letter-spacing: 4pt;
   font-weight: 700;
   margin: 0px;
}

h3 {
   font-family: "appFont";
   font-size: 16px;
   font-weight: 700;
   margin: 0px;
}

.caption {
   top: 10px;
   left: 10px;
   width: 100%;
   letter-spacing: 1pt;
   text-align: center;
   padding: 5px;
   font-size: 0.8em;
}

.sparkle-container {
   position: relative;
   display: inline-block;
}

.sparkle {
   position: relative;
   display: inline-block;
}

.sparkle-svg {
	position: absolute;
	z-index: 3;
	fill: var(--sparkle);
	width: 20px;
   height: 20px;
	aspect-ratio: 1;
	animation: sparkle 5s calc((var(--delay-step) * var(--d)) * 1s) infinite both;
	--delay-step: 0.15;
	top: calc(var(--y, 50) * 1%);
	left:  calc(var(--x, 0) * 1%);
	transform: translate(-50%, -50%) scale(0);
}

@keyframes sparkle {
   0% {
      transform: translate(-50%, -50%) scale(0);
   }
   10% {
		transform: translate(-50%, -50%) scale(var(--s, 1));
   }
   20% {
      transform: translate(-50%, -50%) scale(0);
   }
}

.sparkle-svg:nth-of-type(1) { --x: 10; --y: 10; --s: 0.4; --d: 1; }
.sparkle-svg:nth-of-type(2) { --x: 30; --y: 80; --s: 0.4; --d: 2; }
.sparkle-svg:nth-of-type(3) { --x: 50; --y: 50; --s: 0.4; --d: 3; }
.sparkle-svg:nth-of-type(4) { --x: 70; --y: 20; --s: 0.4; --d: 4; }
.sparkle-svg:nth-of-type(5) { --x: 90; --y: 70; --s: 0.4; --d: 5; }

/* for mobile and mobile-sized windows */
@media only screen and (max-width: 768px) {
   html {
      overflow-y: none;
   }

   ::selection {
      background-color: var(--selectionbgcolor);
      color: var(--texthighlight);
   }

   /* Scrollbar CSS */
   /* Firefox */
   * {
      scrollbar-color: var(--heartslogo) var(--contentbox);
   }

   *::-webkit-scrollbar-track {
      background: var(--contentbox);
   }

   *::-webkit-scrollbar-thumb {
      border: 3px solid var(--contentbox);
   }

   h1 {
      text-align: center;
      font-size: 40pt;
      letter-spacing: 13pt;
   }

   body {
      background-color: var(--contentbox);
   }

   .navhearts {
      display: none;
   }
}
