/* Variables */

@font-face {
   font-family: "appFont";
   src: url(../static_assets/fonts/TerminalDosis-Regular.ttf);
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: "appFont";
   src: url(../static_assets/fonts/TerminalDosis-SemiBold.ttf);
   font-weight: 600;
   font-style: normal;
}

@font-face {
   font-family: "appFont";
   src: url(../static_assets/fonts/TerminalDosis-Bold.ttf);
   font-weight: 700;
   font-style: normal;
}

@font-face {
   font-family: "appFont";
   src: url(../static_assets/fonts/TerminalDosis-ExtraBold.ttf);
   font-weight: 900;
   font-style: normal;
}

html {
   font-family: "appFont";
   color: var(--darkbrown);
   --bgpink: #FEE6E6;
   --lightpink: #F7B3C8;
   --hoverpink: #C48397;
   --darkpink: #FE99C1;
   --tan: #DBA167;
   --black: #2e2e2e;
   --darkbrown: #59514F;
   --white: #FFFFFF;
}

body {
   background-color: var(--bgpink);
   background-size: 1000px;
}

h1 {
   font-family: "appFont";
   margin-right: -.2em;
   text-align: center;
   color: var(--darkbrown);
   font-size: 50pt;
   letter-spacing: 13pt;
   font-weight: 700;
}

h2 {
   font-family: "appFont";
   font-size: 16px;
   font-weight: 700;
   margin: 0px;
}

h3 {
   display: inline;
   font-family: "appFont";
   font-size: 16px;
   margin: 0px;
   font-weight: 700;
   color: tan
}

.caption {
   top: 10px;
   left: 10px;
   width: 100%;
   letter-spacing: 1pt;
   text-align: center;
   padding: 5px;
   font-size: 0.8em;
}

/* for mobile */
@media only screen and (max-width: 1010px) {
   h1 {
      text-align: center;
      font-size: 40pt;
      letter-spacing: 13pt;
   }
}