/* Variables */

@font-face {
   font-family: "appFont";
   src: url(../static_assets/fonts/TerminalDosis-Regular.ttf);
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: "appFont";
   src: url(../static_assets/fonts/TerminalDosis-Bold.ttf);
   font-weight: 700;
   font-style: normal;
}

@font-face {
   font-family: "appFont";
   src: url(../static_assets/fonts/TerminalDosis-SemiBold.ttf);
   font-weight: 600;
   font-style: normal;
}

html {
   font-family: "appFont";
   --lightpink: #F7B3C8;
   --hoverpink: #C48397;
   --darkpink: #FE99C1;
   --tan: #DBA167;
   --black: #2e2e2e;
   --white: #FFFFFF;
}

body {
   background-image: url("../static_assets/images/canvas-texture-seamless.jpg");
   background-size: 1000px;
}

h1 {
   font-family: "appFont";
   color: black;
   font-size: 50pt;
   letter-spacing: 13pt;
}

h2 {
   font-family: "appFont";
   font-size: 16px;
   font-weight: 700;
   margin: 0px;
}