/* Menu Buttons */
.menu-button {
   background-color: var(--lightpink);
   border-style: none;
   color: var(--darkbrown);
   font-family: appFont;
   font-weight: 900;
   font-size: 13px;
   letter-spacing: 5px;
   text-indent: 0.5em;
   text-align: center;
   text-transform: uppercase;
   border-radius: 8px;
   width: 225px;
   height: 35px;
   box-shadow: inset -3px -3px 0px rgba(196, 131, 151, .4);
}

.menu-button:not(:disabled):hover {
   background-color: var(--hoverpink);
   cursor: pointer;
   box-shadow: inset -3px -3px 0px rgba(136, 87, 102, 0.5);
}

.menu-button:disabled {
   color: rgba(16, 16, 16, 0.3);
   box-shadow: inset -3px -3px 0px rgba(136, 87, 102, 0.1);
   cursor: not-allowed;
}

.menu-button:not(:disabled):hover:active {
   background-color: var(--hoverpink);
   box-shadow: inset 3px 3px 0px rgba(136, 87, 102, 0.5);
}

/* Button Shine */
.button-shine {
   position: absolute;
   margin-top: -6.3px;
   margin-left: -3.7px;
   transform: rotate(-25deg);
   width: 12px;
   height: 7px;
   border-radius: 100%;
   background-color: rgba(255, 234, 243, 0.6);
}

button:not(:disabled):hover .button-shine {
   background-color: rgba(221, 166, 192, 0.6);
}

button:disabled .button-shine {
   background-color: rgba(255, 234, 243, 0.25);
}

button:not(:disabled):hover:active .button-shine {
   transition: 0ms;
   background-color: rgba(0, 0, 0, 0);
}

/* Button Shine Small */
/*
.button-shine-small {
   position: absolute;
   margin-top: 3.3px;
   margin-left: -3.5px;
   transform: rotate(10deg);
   width: 4px;
   height: 5px;
   border-radius: 100%;
   background-color: rgba(255, 234, 243, 0.6);
}

button:not(:disabled):hover .button-shine-small {
   background-color: rgba(221, 166, 192, 0.6);
}

button:disabled .button-shine-small {
   background-color: rgba(255, 234, 243, 0.25);
}

button:not(:disabled):hover:active .button-shine-small {
   background-color: rgba(0, 0, 0, 0);
}
*/

/* Rules Buttons */
.rules-button {
   background-color: transparent;
   width: 200px;
   border-style: none;
   color: var(--darkbrown);
   font-family: appFont;
   font-weight: 900;
   font-size: 13px;
   letter-spacing: 5px;
   text-indent: 0.5em;
   text-align: right;
   text-transform: uppercase;
}

.rules-button-selected {
   background-color: transparent;
   width: 200px;
   border-style: none;
   color: var(--hoverpink);
   font-family: appFont;
   font-weight: 900;
   font-size: 13px;
   letter-spacing: 5px;
   text-indent: 0.5em;
   text-align: right;
   text-transform: uppercase;
}

.rules-button:hover {
   color: var(--tan);
}

/* Piping Bag */
.piping-bag {
   position: absolute;
   transform: scaleY(.8);
   margin-top: -1px;
   margin-left: -40px;
}

button[data-selected="false"]:not(:disabled):hover .piping-bag {
   fill: var(--tan);
   animation: hover-bounce 1s linear infinite;
}

@keyframes hover-bounce {
   0% {
      transform: translateX(-2px) scaleY(.8);
   }

   50% {
      transform: translateX(2px) scaleY(.8);
   }

   100% {
      transform: translateX(-2px) scaleY(.8);
   }
}

/* for mobile */
@media only screen and (max-width: 768px) {
   .menu-button {
      font-size: 12px;
      letter-spacing: 4px;
      font-weight: 900;
      width: 175px;
   }

   .menu-button-selected {
      font-size: 12px;
      letter-spacing: 4px;
      font-weight: 700;
      width: 175px;
   }

   .rules-button {
      height: 20px;
      text-align: center;
   }

   .rules-button-selected {
      height: 20px;
      text-align: center;
   }

   .button-shine {
      margin-top: -6.9px;
      margin-left: -3.7px;
   }

   .button-shine-small {
      width: 4px;
      height: 5px;
      margin-top: 3px;
      margin-left: -3.4px;
   }
}