/* Containers */

.index-container {
   margin-top: 25vh;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.button-container {
   margin-top: 10px;
   margin-left: 200px;
   display: flex;
   flex-direction: column;
   gap: 12px;
}

.container {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.rules-body-container {
   margin-top: 100px;
   display: flex;
   width: 900px;
   gap: 30px;
}

.about-body-container {
   margin-top: 100px;
   display: flex;
   width: 900px;
   gap: 40px;
}

.text-body {
   flex-grow: 4;
   font-size: 16px;
   letter-spacing: 1.5px;
}

.content-border-container {
   width: 1000px;
   margin: 0 auto;
   border-radius: 20px;
   background-color: #FFF3F3;
   padding: 20px;
   box-sizing: border-box;
   margin-top: 20px;
   margin-bottom: 20px;
   padding-bottom: 60px;
}


/* for mobile */
@media only screen and (max-width: 1010px) {
   .button-container {
      margin-top: 30px;
      margin-left: 130px;
      align-items: center;
      justify-content: center;
      gap: 10px;
   }

   .rules-body-container {
      margin-top: 110px;
      width: 400px;
      justify-content: center;
      flex-direction: column;
      gap: 10px;
   }

   .about-body-container {
      margin-top: 110px;
      width: 400px;
      justify-content: center;
      flex-direction: column-reverse;
      gap: 5px;
   }

   .text-body {
      margin: 20px;
      text-align: center;
   }

   .content-border-container {
      width: 50vh;
      margin-top: 10px;
      margin-bottom: 10px;
      padding-bottom: 0px;
      padding: 30px;
   }
}