/* Containers */

.index-container {
   display: flex;
   height: 100vh;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.button-container {
   margin-top: 10px;
   margin-left: 200px;
   display: flex;
   flex-direction: column;
   gap: 12px;
}

.container {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.body-container {
   margin-top: 90px;
   display: flex;
   width: 900px;
   gap: 30px;
}

.about-body-container {
   margin-top: 90px;
   display: flex;
   width: 900px;
   gap: 30px;
}

.text-body {
   flex-grow: 4;
   font-size: 16px;
   letter-spacing: 1.5px;
}

/* for mobile */
@media only screen and (max-width: 768px) {
   .body-container {
      margin-top: 100px;
      display: flex;
      width: 400px;
      justify-content: center;
      flex-direction: column;
      gap: 10px;
   }

   .about-body-container {
      margin-top: 100px;
      display: flex;
      width: 400px;
      justify-content: center;
      flex-direction: column-reverse;
      gap: 0px;
   }

   .button-container {
      margin-top: 30px;
      margin-left: 130px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 10px;
   }

   .text-body {
      margin: 20px;
      text-align: center;
      flex-grow: 4;
      font-size: 16px;
      letter-spacing: 1.5px;
   }
}