/* Menus */

.index-container {
   display: flex;
   height: 100vh;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.button-container {
   display: flex;
   flex-direction: column;
   gap: 12px;
}

.container {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.body-container {
   display: flex;
   width: 900px;
   gap: 30px;
}

.text-body {
   flex-grow: 4;
   font-size: 16px;
   letter-spacing: 2px;
}