/* Variables */

@font-face {
   font-family: "appFont";
   src: url(/fonts/TerminalDosis-Regular.ttf);
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: "appFont";
   src: url(/fonts/TerminalDosis-SemiBold.ttf);
   font-weight: 600;
   font-style: normal;
}

@font-face {
   font-family: "appFont";
   src: url(/fonts/TerminalDosis-Bold.ttf);
   font-weight: 700;
   font-style: normal;
}

@font-face {
   font-family: "appFont";
   src: url(/fonts/TerminalDosis-ExtraBold.ttf);
   font-weight: 900;
   font-style: normal;
}

html {
   font-family: "appFont";
   color: var(--darkbrown);
   --bgpink: #fee6e6;
   --contentpink: #fff3f3;
   --lightpink: #f7b3c8;
   --hoverpink: #c48397;
   --darkpink: #fe99c1;
   --tan: #dba167;
   --black: #2e2e2e;
   --darkbrown: #59514f;
   --white: #ffffff;
}

body {
   background-color: var(--bgpink);
}

::selection {
   background-color: rgba(196, 131, 151, 0.6);
   color: var(--darkbrown);
}

.link {
   position: relative;
   overflow: hidden;
   color: var(--hoverpink);
   font-weight: 700;
   text-decoration: none;
   z-index: 1;
}

.link::after {
   content: "";
   background: rgba(236, 64, 122, 0.2);
   position: absolute;
   left: 8px;
   bottom: -3px;
   border-radius: 5px;
   width: calc(100% - 6px);
   height: calc(100% - 8px);
   z-index: -1;
   transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
   pointer-events: none;
}

.link:hover:after {
   left: 0;
   bottom: -2px;
   width: 100%;
   height: 100%;
}

h1 {
   font-family: "appFont";
   margin-right: -0.2em;
   text-align: center;
   color: var(--darkbrown);
   font-size: 50pt;
   letter-spacing: 15pt;
   font-weight: 700;
}

h2 {
   font-family: "appFont";
   font-size: 16px;
   font-weight: 700;
   margin: 0px;
}

h3 {
   display: inline;
   font-family: "appFont";
   font-size: 16px;
   margin: 0px;
   font-weight: 700;
   color: var(--tan);
}

.caption {
   top: 10px;
   left: 10px;
   width: 100%;
   letter-spacing: 1pt;
   text-align: center;
   padding: 5px;
   font-size: 0.8em;
}

/* for mobile and mobile-sized windows */
@media only screen and (max-width: 768px) {
   h1 {
      text-align: center;
      font-size: 40pt;
      letter-spacing: 13pt;
   }

   body {
      background-color: var(--contentpink);
   }
}
