@import "colors.module.css";

/* Variables */

html {
   color: var(--text);
   --background: #fee6e6;
   --contentbox: #fff3f3;
   --lightpink: rgb(247, 181, 202);
   --heartslogo: hsl(341, 81%, 84%);
   --hoverpink: hsl(342, 36%, 64%);
   --darkpink: hsl(336, 98%, 80%);
   --tan: hsl(30, 62%, 63%);
   --black: hsl(0, 0%, 18%);
   --darkbrown: hsl(12, 6%, 33%);
   --header: hsl(12, 6%, 33%);
   --buttontext: hsl(12, 6%, 33%);
   --rulesbuttontext: hsl(12, 6%, 33%);
   --rulesbuttonselected: hsl(342, 36%, 64%);
   --text: hsl(12, 6%, 33%);
   --texthighlight: hsl(12, 6%, 33%);
   --white: hsl(0, 0%, 100%);
   --mediumpink: hsl(0, 100%, 94%);
   --buttontextdisabled: hsla(0, 0%, 6%, 0.3);
   --buttonshine: hsla(334, 100%, 96%, 0.6);
   --buttonshinehover: hsla(332, 45%, 76%, 0.6);
   --buttonshinedisabled: hsla(334, 100%, 96%, 0.251);
   --buttonboxshadow: hsla(342, 36%, 64%, 0.4);
   --buttonboxshadowhover: hsla(342, 22%, 44%, 0.5);
   --buttonboxshadowdisabled: hsla(342, 22%, 44%, 0.1);
   --selectionbgcolor: hsla(342, 36%, 64%, 0.6);
   --link: hsl(342, 36%, 64%);
   --linkbox: hsla(340, 82%, 59%, 0.2);
   --transparent: hsla(0, 0%, 0%, 0);
}

[data-theme="dark"] {
   --background: hsl(231, 13%, 11%);
   --contentbox: hsl(232, 15%, 19%);
   --header: hsl(341, 81%, 84%);
   --lightpink: hsl(342, 36%, 64%);
   --heartslogo: hsl(231, 16%, 29%);
   --buttontext: hsl(231, 13%, 11%);
   --text: hsl(341, 81%, 84%);
   --texthighlight: hsl(336, 21%, 25%);
   --tan: hsl(335, 19%, 45%);
   --mediumpink: hsl(240, 14%, 15%);
   --hoverpink: hsl(335, 23%, 35%);
   --rulesbuttontext: hsl(233, 15%, 42%);
   --rulesbuttonselected: hsl(341, 81%, 84%);
   --buttonshine: hsla(332, 50%, 87%, 0.6);
   --buttonshinehover: hsla(332, 30%, 60%, 0.6);
   --buttonshinedisabled: hsla(332, 45%, 80%, 0.3);
   --buttonboxshadow: hsla(342, 30%, 30%, 0.5);
   --buttonboxshadowhover: hsla(344, 25%, 18%, 0.5);
   --buttonboxshadowdisabled: hsla(342, 22%, 44%, 0.2);
   --selectionbgcolor: hsla(341, 81%, 84%, 0.6);
   --link: hsl(0, 60%, 90%);
   --linkbox: hsla(342, 36%, 64%, 0.5);
}

body {
   background-color: var(--background);
   font-size: 16px;
   letter-spacing: 1.5px;
}

::selection {
   background-color: var(--selectionbgcolor);
   color: var(--texthighlight);
}

.link {
   position: relative;
   overflow: hidden;
   color: var(--link);
   font-weight: 700;
   text-decoration: none;
   z-index: 1;
}

.link::after {
   content: "";
   background: var(--linkbox);
   position: absolute;
   left: 8px;
   bottom: -3px;
   border-radius: 5px;
   width: calc(100% - 6px);
   height: calc(100% - 8px);
   z-index: -1;
   transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
   pointer-events: none;
}

.link:hover:after {
   left: 0;
   bottom: -2px;
   width: 100%;
   height: 100%;
}

h1 {
   margin-right: -0.2em;
   text-align: center;
   color: var(--header);
   font-size: 50pt;
   letter-spacing: 15pt;
   font-weight: 700;
}

h2 {
   font-size: 16px;
   font-weight: 700;
   margin: 0px;
}

h3 {
   display: inline;
   font-size: 16px;
   margin: 0px;
   font-weight: 700;
   color: var(--tan);
}

.caption {
   top: 10px;
   left: 10px;
   width: 100%;
   letter-spacing: 1pt;
   text-align: center;
   padding: 5px;
   font-size: 0.8em;
}

/* for mobile and mobile-sized windows */
@media only screen and (max-width: 768px) {
   h1 {
      text-align: center;
      font-size: 40pt;
      letter-spacing: 13pt;
   }

   body {
      background-color: var(--contentbox);
   }
}
