/* Menu Buttons */
.menu-button {
   font-family: var(--appFont);
   background-color: var(--lightpink);
   border-style: none;
   color: var(--buttontext);
   font-weight: 900;
   font-size: 13px;
   letter-spacing: 5px;
   text-indent: 0.5em;
   text-align: center;
   text-transform: uppercase;
   border-radius: 8px;
   width: 225px;
   height: 35px;
   box-shadow: inset -3px -3px 0px var(--buttonboxshadow);
}

.menu-button:not(:disabled):hover {
   background-color: var(--hoverpink);
   cursor: pointer;
   box-shadow: inset -3px -3px 0px var(--buttonboxshadowhover);
}

.menu-button:disabled {
   color: var(--buttontextdisabled);
   box-shadow: inset -3px -3px 0px var(--buttonboxshadowdisabled);
   cursor: not-allowed;
}

.menu-button:not(:disabled):hover:active {
   background-color: var(--hoverpink);
   box-shadow: inset 3px 3px 0px var(--buttonboxshadowhover);
}

/* Button Shine */
.button-shine {
   position: absolute;
   margin-top: -6.3px;
   margin-left: -3.7px;
   transform: rotate(-25deg);
   width: 12px;
   height: 7px;
   border-radius: 100%;
   background-color: var(--buttonshine);
}

button:not(:disabled):hover .button-shine {
   background-color: var(--buttonshinehover);
}

button:disabled .button-shine {
   background-color: var(--buttonshinedisabled);
}

button:not(:disabled):hover:active .button-shine {
   transition: 0ms;
   background-color: var(--transparent);
}

/* Rules Buttons */
.rules-button {
   font-family: var(--appFont);
   background-color: transparent;
   width: 200px;
   border-style: none;
   color: var(--rulesbuttontext);
   font-weight: 900;
   font-size: 13px;
   letter-spacing: 5px;
   text-indent: 0.5em;
   text-align: right;
   text-transform: uppercase;
}

.rules-button-selected {
   background-color: transparent;
   width: 200px;
   border-style: none;
   color: var(--rulesbuttonselected);
   font-family: var(--appFont);
   font-weight: 900;
   font-size: 13px;
   letter-spacing: 5px;
   text-indent: 0.5em;
   text-align: right;
   text-transform: uppercase;
}

.rules-button:hover {
   color: var(--tan);
}

/* Piping Bag */
.piping-bag {
   fill: var(--rulesbuttonselected);
   position: absolute;
   transform: scaleY(0.8);
   margin-top: -1px;
   margin-left: -40px;
}

.piping-bag-right {
   fill: var(--rulesbuttonselected);
   visibility: hidden;
   position: absolute;
   transform: scaleX(-1) scaleY(0.8);
   margin-top: -1px;
   margin-left: 1px;
}

button[data-selected="false"]:not(:disabled):hover .piping-bag {
   fill: var(--tan);
   animation: hover-bounce 1s linear infinite;
}

button[data-selected="false"]:not(:disabled):hover .piping-bag-right {
   fill: var(--tan);
   animation: hover-bounce-right 1s linear infinite;
}

@keyframes hover-bounce {
   0% {
      transform: translateX(-2px) scaleY(0.8);
   }

   50% {
      transform: translateX(2px) scaleY(0.8);
   }

   100% {
      transform: translateX(-2px) scaleY(0.8);
   }
}

@keyframes hover-bounce-right {
   0% {
      transform: translateX(2px) scaleX(-1) scaleY(0.8);
   }

   50% {
      transform: translateX(-2px) scaleX(-1) scaleY(0.8);
   }

   100% {
      transform: translateX(2px) scaleX(-1) scaleY(0.8);
   }
}

/* Icons */

.icon {
   color: var(--lightpink);
   width: 18px;
   height: 18px;
}

.icon:hover {
   color: var(--hoverpink);
}

.icon[clicked="1"] {
   animation: icon-select-bounce 0.4s linear;
}

@keyframes icon-select-bounce {
   0% {
      transform: scaleY(1) scaleX(1);
      transform-origin: center;
   }

   10% {
      transform: scaleY(0.7) scaleX(0.7);
      transform-origin: center;
   }

   60% {
      transform: scaleY(1.1) scaleX(1.1);
      transform-origin: center;
   }

   100% {
      transform: scaleY(1) scaleX(1);
      transform-origin: center;
   }
}

/* for mobile and mobile-sized windows */
@media only screen and (max-width: 768px) {
   .menu-button {
      font-size: 12px;
      letter-spacing: 4px;
      font-weight: 900;
      width: 175px;
   }

   .menu-button-selected {
      font-size: 12px;
      letter-spacing: 4px;
      font-weight: 700;
      width: 175px;
   }

   .rules-button {
      height: 20px;
      text-align: center;
   }

   .rules-button-selected {
      height: 20px;
      text-align: center;
   }

   .button-shine {
      margin-top: -6.9px;
      margin-left: -3.7px;
   }

   .button-shine-small {
      width: 4px;
      height: 5px;
      margin-top: 3px;
      margin-left: -3.4px;
   }

   .piping-bag-right {
      visibility: visible;
   }

   .icon {
      width: 20px;
      height: 20px;
   }
}

/* for touch screens */
@media (hover: none) {
   .icon:hover {
      color: var(--lightpink);
   }

   button[data-selected="false"]:not(:disabled):hover .piping-bag {
      fill: var(--rulesbuttonselected);
      animation: none;
   }

   button[data-selected="false"]:not(:disabled):hover .piping-bag-right {
      fill: var(--rulesbuttonselected);
      animation: none;
   }

   .menu-button:not(:disabled):hover {
      background-color: var(--lightpink);
      cursor: default;
      box-shadow: inset -3px -3px 0px var(--buttonboxshadow);
   }

   button:not(:disabled):hover .button-shine {
      background-color: var(--buttonshine);
   }

   .rules-button:hover {
      color: var(--hoverpink);
   }
}
